<<<<<<< HEAD
body {
	background-color: peachpuff;
	text-align: center;
}
label{
	margin-left: 5px;
}
.game {
	display: block;
	margin: auto;
}
.buttons-container {
	width: 100%;
}
.buttons-container > input {
	margin-top: 20px;
	margin-left: 5px;
}


=======
.game {
	width: 800px;
	height: 600px;
	display: block;
	margin: auto;
}
.elem{
	display: block;
	position: relative;
	float: left;
}
>>>>>>> origin/master
